DISCORD_TOKEN=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
DOMAIN=localhost
PORT=5000
USE_HTTPS=False
DEFAULT_POINTS_EARN_INTERVAL=300
DEFAULT_POINTS_EARN_RATE=50
DEFAULT_STARTING_POINTS=1000
